{
  "openapi": "3.1.0",
  "info": {
    "version": "1.4",
    "title": "Infloww API",
    "summary": "Explore Infloww's APIs to stream data to your dashboards.",
    "description": "## What is Infloww API?\n  The Infloww API is a REST-based tool designed to stream raw performance data directly into your internal dashboards or custom business intelligence (BI) tools.\n\n## API capabilities\nTo ensure data integrity and security, the Infloww API currently operates under the following parameters:\n  - **Read-only access:** Pull data for analysis without the risk of altering or deleting data within your Infloww account.\n  - **Integration limits:** Only data retrieval is currently avaialble. Third-party tools requiring write or \"action\" permissions, such as external AI chatbots or automation platforms like Zapier, are not supported.\n\n## Request headers\nAll API requests must include the following headers:\n\n  - **Authorization**: API key used for authentication. Provide the raw API key as the header value (do not include a \"Bearer\" prefix).\n  - **x-oid**: The agency identifier associated with your API key. ou can find this on the API key page in Infloww labeled as \"Agency OID\".\n\n  ⚠️ If your request fails, please include the `x-request-id` from the response headers when contacting support. This helps our team quickly locate and diagnose the issue.\n\n## Rate limiting\n- **Agency limit**: A maximum of 1,000 QPM (queries per minmute) is enforced per agency, independent of the number of API key created. \n\n## Available endpoints\n  - **Creator information:** General profile data for creators\n    - Connected creators\n    - All creators (including deleted)\n  - **Revenue breakdown:** Detailed earnings of each creator\n    - Transaction details\n    - Refund details\n  - **Transaction performance:** Sales attribution details with employee-level breakdowns. This supports all creators, including deleted or unlinked profiles.\n  - **Marketing analytics:** Statistics for promotions, free trial links, tracking links, and link fans\n    - Tracking links\n    - Free trial links\n    - Profile promotions\n    - Link fans\n  - **Employee data:** Employee lists and employee-to-creator assignments\n    - Employee list\n    - Employee's assigned creators\n  - **Employee reports:** Sales performance and chat activity breakdowns by employee\n    - Sales statistics\n    - Chatting statistics\n  - **Creator reports:** Daily performance metrics for creators\n    - Platform ranking\n    - Fan status (active and expired fans)\n    - Subscriber growth (new and renewed fans)\n    - Renewal status (fans with auto-renew turned on)\n    - Subscription length\n    - Chat activity (messages sent, fans chatted, PPVs)\n    - Profile visitors\n  - **Invoice data:** Monthly billing/invoice summary (V1.4)\n    - Monthly billing summary\n  - **Message analytics:** Records of automated messages and priority mass messages\n    - Automated messages\n    - Priority mass messages\n  - **Creator status log:** Status change history for creators (V1.4)\n    - Creator status change log\n  - **Manual assignment:** Sales records manual assignment details (V1.4)\n    - Manual assignment details\n\n## Data retention and availability\nThe retention windows and data availability thresholds vary by endpoint, as detailed below:\n\n  Category | Endpoint | Retention Window\n  ---------|---------|----------\n  Creator information | All endpoints | Full historical data\n  Revenue breakdown | All endpoints | Maximum of last 1 year of historical data\n  Transaction performance | All endpoints | Maximum of last 1 year of historical data\n  Marketing analytics | Tracking links | Full historical data\n  Marketing analytics | Free trial links | Full historical data\n  Marketing analytics | Profile promotions | Last 10,000 campaigns from up to 365 days ago, similar to availability on OnlyFans\n  Marketing analytics | Link fans | Full historical data\n  Employee data | All endpoints | Full historical data\n  Employee reports | All endpoints | Maximum of last 1 year of historical data\n  Creator reports | All endpoints | Maximum of last 1 year of historical data\n  Message analytics | All endpoints | Full historical data\n  Invoice data | All endpoints | Maximum of last 1 year of historical data\n  Creator status log | All endpoints | From June 1, 2026 onwards\n  Manual assignment | All endpoints | Maximum of last 1 year of historical data\n\n  ## Data permissions\n  API key permissions are configured upon creation and can be modified at any time. \n  - **Creator access:** You must explicitly select which creators the API key can access.\n    - New or relinked creators are not automatically added to existing keys. You must manually edit the key's scope to include them.\n    - Only the `/v1/transaction-perf/details` endpoint supports querying all creators (including deleted or unlinked). All other `creatorId`-based endpoints return connected creators only.\n  - **Employee access:** You must specify which employee data the API key can access. If you select **All employees**, the key's scope will dynamically update to include new staff members automatically, eliminating the need for manual adjustments.  \n\n  ## Data synchronization and latency\n  Data moves in two stages: from source platforms (such as OnlyFans) into Infloww, and then to the API. Total latency depends on platform sync schedules plus a one-hour buffer for the API to process updates from the app.\n\n  ### How data flows\n  * **Stage 1 (Source platform to Infloww):** Infloww syncs data on a scheduled basis. General updates populate periodically, while heavier reporting data—such as employee and creator reports—can take up to 24 hours to reflect inside the app.\n  * **Stage 2 (Infloww to API):** Once data appears inside Infloww, it takes an additional one hour to become available via the API.\n\n  ## Your Infloww API key\n  Generate your API key directly from your Infloww account. [Learn how here](https://help.infloww.com/en/articles/596825-beta-infloww-api#h_99e8440d03).",
    "termsOfService": ""
  },
  "servers": [
    {
      "url": "https://openapi.infloww.com/",
      "description": "Infloww API"
    }
  ],
  "paths": {
    "/v1/creators": {
      "get": {
        "tags": [
          "Creator Scope"
        ],
        "summary": "Connected creators",
        "description": "Get a paginated list of connected creators.\n\n> Please note there is a synchronization delay of up to 1 hour for OnlyFans data.",
        "operationId": "get-creators",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/x-oid"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/platformCode"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Returned upon success, corresponding to the specific business data structure.",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Unique identifier(Creator ID)"
                              },
                              "name": {
                                "type": "string",
                                "description": "Creator name"
                              },
                              "nickName": {
                                "type": "string",
                                "description": "Nickname"
                              },
                              "userName": {
                                "type": "string",
                                "description": "Username"
                              },
                              "tagName": {
                                "type": "string",
                                "description": "Tag name"
                              },
                              "createdTime": {
                                "type": "string",
                                "description": "Creation time (unix timestamp in milliseconds)"
                              },
                              "platformPid": {
                                "type": "integer",
                                "description": "Platform performer ID"
                              }
                            }
                          }
                        },
                        "platformCode": {
                          "type": "string",
                          "description": "Platform code"
                        }
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Pagination cursor for retrieving next page of results"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indicates whether more data is available."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "list": [
                          {
                            "id": 40001,
                            "name": "John Smith",
                            "nickName": "John",
                            "userName": "john_smith_01",
                            "tagName": "VIP",
                            "createdTime": "2026-02-27T10:15:00Z",
                            "platformCode": "OF"
                          },
                          {
                            "id": 40002,
                            "name": "Emily Brown",
                            "nickName": "Em",
                            "userName": "emily_b",
                            "tagName": "NewFan",
                            "createdTime": "2026-02-26T18:45:00Z",
                            "platformCode": "FANSLY"
                          }
                        ]
                      },
                      "cursor": "eyJpZCI6NDAwMDJ9",
                      "hasMore": true,
                      "errorMessage": null
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "data": {
                        "list": [
                          {
                            "id": "001",
                            "name": "test",
                            "nickName": "test",
                            "userName": "test",
                            "tagName": "test",
                            "createdTime": "1772448735447"
                          }
                        ],
                        "platformCode": "Onlyfans"
                      },
                      "cursor": "002",
                      "hasMore": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "servers": [
          {
            "url": "https://openapi.infloww.com/",
            "description": "Infloww API"
          }
        ]
      }
    },
    "/v1/all-creators": {
      "get": {
        "tags": [
          "Creator Scope"
        ],
        "summary": "All creators",
        "description": "Get a paginated list of all creators under your agency, including connected, disconnected, not connected, 2FA required, and deleted creators.\n\n> This endpoint requires the \"All Creators\" scope permission. Unlike `/v1/creators`, it returns all creators regardless of their connection status.",
        "operationId": "get-all-creators",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/x-oid"
          },
          {
            "$ref": "#/components/parameters/platformCode"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Returned upon success, corresponding to the specific business data structure.",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Unique identifier (Creator ID)"
                              },
                              "name": {
                                "type": "string",
                                "description": "Creator name"
                              },
                              "nickName": {
                                "type": "string",
                                "description": "Nickname"
                              },
                              "userName": {
                                "type": "string",
                                "description": "Username"
                              },
                              "tagName": {
                                "type": "string",
                                "description": "Tag name"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "connected",
                                  "disconnected",
                                  "not connect",
                                  "2FA",
                                  "deleted"
                                ],
                                "description": "Creator status",
                                "format": "enum"
                              },
                              "platformPid": {
                                "type": "integer",
                                "description": "Platform performer ID"
                              },
                              "createdTime": {
                                "type": "string",
                                "description": "Creation time (unix timestamp in milliseconds)"
                              },
                              "deletedTime": {
                                "type": "string",
                                "description": "Delete time (unix timestamp in milliseconds)"
                              }
                            }
                          }
                        },
                        "platformCode": {
                          "type": "string",
                          "description": "Platform code"
                        }
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Pagination cursor for retrieving next page of results"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indicates whether more data is available."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "list": [
                          {
                            "id": 40001,
                            "name": "John Smith",
                            "nickName": "John",
                            "userName": "john_smith_01",
                            "tagName": "VIP",
                            "status": "Connected",
                            "createdTime": "2026-02-27T10:15:00Z",
                            "platformPid": 100001
                          },
                          {
                            "id": 40002,
                            "name": "Emily Brown",
                            "nickName": "Em",
                            "userName": "emily_b",
                            "tagName": "NewFan",
                            "status": "Deleted",
                            "createdTime": "2026-02-26T18:45:00Z",
                            "platformPid": 100002
                          }
                        ]
                      },
                      "cursor": "eyJpZCI6NDAwMDJ9",
                      "hasMore": true,
                      "errorMessage": null
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "data": {
                        "list": [
                          {
                            "id": "001",
                            "name": "test",
                            "nickName": "test",
                            "userName": "test",
                            "tagName": "test",
                            "status": "Connected",
                            "createdTime": "1772448735447",
                            "platformPid": 100001
                          }
                        ]
                      },
                      "cursor": "002",
                      "hasMore": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "servers": [
          {
            "url": "https://openapi.infloww.com/",
            "description": "Infloww API"
          }
        ]
      }
    },
    "/v1/transactions": {
      "get": {
        "tags": [
          "Creator Scope"
        ],
        "summary": "Transactions",
        "description": "Pull a paginated list of revenue transactions for your connected creators.\n\n> When synchronizing OnlyFans data, there is a delay of up to 1 hour. Transaction orders with a \"loading\" status are synchronized every 12 hours.",
        "operationId": "get-transactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/x-oid"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/creatorId"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/platformCode"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Returned upon success, corresponding to the specific business data structure.",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Unique identifier"
                              },
                              "transactionId": {
                                "type": "string",
                                "description": "OnlyFans transaction ID"
                              },
                              "fanId": {
                                "type": "string",
                                "description": "Fan id"
                              },
                              "fanName": {
                                "type": "string",
                                "description": "Fan name"
                              },
                              "platformPid": {
                                "type": "integer",
                                "description": "Platform performer ID"
                              },
                              "createdTime": {
                                "type": "string",
                                "description": "Creation time (unix timestamp in milliseconds)"
                              },
                              "tipSource": {
                                "type": "string",
                                "enum": [
                                  "Profile",
                                  "Post",
                                  "Chat",
                                  "Stream",
                                  "Story",
                                  "Unknown"
                                ],
                                "description": "Tip source",
                                "format": "enum"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "Subscription",
                                  "Recurring Subscription",
                                  "Tips",
                                  "Messages",
                                  "Referrals",
                                  "Streams",
                                  "Posts",
                                  "Unknown"
                                ],
                                "description": "Transaction type",
                                "format": "enum"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "loading",
                                  "done",
                                  "undo",
                                  "pending_return"
                                ],
                                "description": "Transaction status",
                                "format": "enum"
                              },
                              "amount": {
                                "type": "string",
                                "description": "Transaction amount (in the smallest unit of the currency)"
                              },
                              "fee": {
                                "type": "string",
                                "description": "Fee amount (in the smallest unit of the currency)"
                              },
                              "net": {
                                "type": "string",
                                "description": "Net amount (in the smallest unit of the currency)"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency code"
                              }
                            }
                          }
                        },
                        "platformCode": {
                          "type": "string",
                          "description": "Platform code"
                        }
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Pagination cursor for retrieving next page of results"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indicates whether more data is available."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "list": [
                          {
                            "id": 10001,
                            "transactionId": "txn_20260227001",
                            "fanId": "fan_987654",
                            "fanName": "JohnDoe",
                            "createdTime": "2026-02-27T15:30:00Z",
                            "type": "tip",
                            "tipSource": "chat",
                            "status": "completed",
                            "amount": 50,
                            "fee": 5,
                            "net": 45,
                            "currency": "USD",
                            "platformCode": "OF"
                          }
                        ]
                      },
                      "cursor": "eyJpZCI6MTAwMDF9",
                      "hasMore": true,
                      "errorMessage": null
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "data": {
                        "platformCode": "OnlyFans",
                        "list": [
                          {
                            "id": "001",
                            "transactionId": "xxx",
                            "fanId": "onlyfans-02436724",
                            "fanName": "xxxx",
                            "createdTime": "1750019015000",
                            "type": "Messages",
                            "status": "loading",
                            "amount": "7400",
                            "fee": "1480",
                            "net": "5920",
                            "currency": "USD"
                          },
                          {
                            "id": "002",
                            "transactionId": "xxx",
                            "fanId": "onlyfans-97572292",
                            "fanName": "Joseph· Anderson",
                            "createdTime": "1750020601000",
                            "type": "Messages",
                            "status": "loading",
                            "amount": "13600",
                            "fee": "2720",
                            "net": "10880",
                            "currency": "USD"
                          },
                          {
                            "id": "003",
                            "transactionId": "xxx",
                            "fanId": "onlyfans-74521039",
                            "fanName": "Mary· Jones",
                            "createdTime": "1750026171000",
                            "type": "Messages",
                            "status": "loading",
                            "amount": "12300",
                            "fee": "2460",
                            "net": "9840",
                            "currency": "USD"
                          }
                        ]
                      },
                      "cursor": "001",
                      "hasMore": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "servers": [
          {
            "url": "https://openapi.infloww.com/",
            "description": "Infloww API"
          }
        ]
      }
    },
    "/v1/refunds": {
      "get": {
        "tags": [
          "Creator Scope"
        ],
        "summary": "Refunds",
        "description": "Pull a paginated list of all refund amounts associated with a connected creator.\n\n> When synchronizing OnlyFans data, there is a delay of up to 1 hour.",
        "operationId": "get-refunds",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/x-oid"
          },
          {
            "$ref": "#/components/parameters/creatorId"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/platformCode"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Returned upon success, corresponding to the specific business data structure.",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Unique identifier"
                              },
                              "transactionId": {
                                "type": "string",
                                "description": "OnlyFans transaction ID"
                              },
                              "fanId": {
                                "type": "string",
                                "description": "Fan ID"
                              },
                              "paymentTime": {
                                "type": "string",
                                "description": "Transaction creation time (unix timestamp in milliseconds)"
                              },
                              "refundTime": {
                                "type": "string",
                                "description": "Refund creation time (unix timestamp in milliseconds)"
                              },
                              "paymentStatus": {
                                "type": "string",
                                "enum": [
                                  "undo",
                                  "loading",
                                  "done"
                                ],
                                "description": "Refund status",
                                "format": "enum"
                              },
                              "paymentAmount": {
                                "type": "number",
                                "description": "Refund amount (in the smallest unit of the currency)"
                              },
                              "transactionType": {
                                "type": "string",
                                "enum": [
                                  "tips",
                                  "post",
                                  "chat_messages",
                                  "stream",
                                  "subscribes"
                                ],
                                "description": "Transaction type",
                                "format": "enum"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency code"
                              }
                            }
                          }
                        },
                        "platformCode": {
                          "type": "string",
                          "description": "Platform code"
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indicates whether more data is available."
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Pagination cursor for retrieving next page of results"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "list": [
                          {
                            "id": 20001,
                            "transactionId": "txn_20260227002",
                            "fanId": "fan_123456",
                            "paymentTime": "2026-02-27T14:20:00Z",
                            "refundTime": null,
                            "paymentStatus": "paid",
                            "paymentAmount": 29.99,
                            "transactionType": "subscription",
                            "currency": "USD"
                          },
                          {
                            "id": 20002,
                            "transactionId": "txn_20260227003",
                            "fanId": "fan_789012",
                            "paymentTime": "2026-02-27T15:05:00Z",
                            "refundTime": "2026-02-27T16:00:00Z",
                            "paymentStatus": "refunded",
                            "paymentAmount": 49.99,
                            "transactionType": "tip",
                            "currency": "USD"
                          }
                        ]
                      },
                      "hasMore": true,
                      "cursor": "eyJpZCI6MjAwMDJ9",
                      "errorMessage": null
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "data": {
                        "list": [
                          {
                            "id": "20001",
                            "transactionId": "txn_20260227002",
                            "fanId": "fan_123456",
                            "paymentTime": "1772448037492",
                            "refundTime": "1772448038000",
                            "paymentStatus": "undo",
                            "paymentAmount": 3000,
                            "transactionType": "tips",
                            "currency": "USD"
                          },
                          {
                            "id": "20002",
                            "transactionId": "txn_20260227003",
                            "fanId": "fan_789012",
                            "paymentTime": "1772448735447",
                            "refundTime": "1772449035447",
                            "paymentStatus": "undo",
                            "paymentAmount": 4000,
                            "transactionType": "tips",
                            "currency": "USD"
                          },
                          {
                            "id": "20003",
                            "transactionId": "txn_20260227004",
                            "fanId": "fan_345678",
                            "paymentTime": "1772449135447",
                            "refundTime": "1772449535447",
                            "paymentStatus": "undo",
                            "paymentAmount": 5000,
                            "transactionType": "tips",
                            "currency": "USD"
                          }
                        ]
                      },
                      "hasMore": true,
                      "cursor": "20002"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "servers": [
          {
            "url": "https://openapi.infloww.com/",
            "description": "Infloww API"
          }
        ]
      }
    },
    "/v1/links": {
      "get": {
        "tags": [
          "Creator Scope"
        ],
        "summary": "Tracking links, free trial links and profile promotions",
        "description": "Pull a paginated list of tracking links, free trial links and profile promotions, and associated raw data.\n\n> When synchronizing OnlyFans data, expect a delay of up to 2 hours.\n> Only data from creators that are actively connected to Infloww can be pulled.",
        "operationId": "get-links",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/x-oid"
          },
          {
            "$ref": "#/components/parameters/creatorId"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/endTime"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/platformCode"
          },
          {
            "$ref": "#/components/parameters/linkType"
          },
          {
            "$ref": "#/components/parameters/status"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "platformCode": {
                          "type": "string",
                          "description": "Platform code"
                        },
                        "linkType": {
                          "type": "string",
                          "description": "Link type"
                        },
                        "list": {
                          "type": "array",
                          "description": "The returned data object.\n\n**Important Association Rules**: The linkTypefield in this object indicates the specific data structure type for all elements in the listarray. The correspondences are as follows:\nWhen the `platformCode` is `\"OnlyFans\"` and the `linkType` is `\"CAMPAIGN\"`, each object in the list follows the `CampaignLinkModel` structure.\nWhen the `platformCode` is `\"OnlyFans\"` and the `linkType` is `\"TRIAL\"`, each object in the list follows the `TrialLinkModel` structure.\nWhen the `platformCode` is `\"OnlyFans\"` and the `linkType` is `\"TRACKING\"`, each object in the list follows the `TrackingLinkModel` structure.\n",
                          "items": {
                            "type": "object",
                            "oneOf": [
                              {
                                "type": "object",
                                "title": "CampaignLinkModel",
                                "description": "When the platformCode is OnlyFans and the linkType is CAMPAIGN, the following structure will be returned \nCampaignLinkModel",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Unique identifier"
                                  },
                                  "message": {
                                    "type": "string",
                                    "description": "Link description"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "new",
                                      "expired",
                                      "both"
                                    ],
                                    "description": "Target fan type",
                                    "format": "enum"
                                  },
                                  "subCount": {
                                    "type": "integer",
                                    "description": "Current number of subscribers"
                                  },
                                  "subLimit": {
                                    "type": "integer",
                                    "description": "Subscription limit (`0` means no limit)"
                                  },
                                  "subDuration": {
                                    "type": "integer",
                                    "description": "Subscription duration (in days)"
                                  },
                                  "discount": {
                                    "type": "integer",
                                    "description": "Discount percentage (e.g., `30` represents `30%`)"
                                  },
                                  "finishedFlag": {
                                    "type": "boolean",
                                    "description": "Link completion flag"
                                  },
                                  "earningsGross": {
                                    "type": "integer",
                                    "description": "Gross earnings (in the smallest unit of the currency) "
                                  },
                                  "earningsNet": {
                                    "type": "integer",
                                    "description": "Net earnings (after deducting OnlyFans platform fees, in the smallest unit of the currency) "
                                  },
                                  "payingFansCount": {
                                    "type": "integer",
                                    "description": "Paying fans count (includes subscription earnings)"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "Currency code"
                                  },
                                  "createdTime": {
                                    "type": "string",
                                    "description": "Link creation time (unix timestamp in milliseconds)"
                                  },
                                  "expiredTime": {
                                    "type": "string",
                                    "description": "Link expiration time (unix timestamp in milliseconds) "
                                  },
                                  "updatedTime": {
                                    "type": "string",
                                    "description": "Infloww last update time (Unix millisecond timestamp)"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "title": "TrialLinkModel",
                                "description": "When the platformCode is OnlyFans and the linkType is TRIAL, the following structure will be returned \nTrialLinkModel",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Unique identifier"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Link name"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "The URL is constructed by concatenating this `code` with the following format:\n\nOF domain + current creator name + `code`\n\nFor example,\ncreator name: xxx, \ncode:123\n\nLink URL: `https://onlyfans.com/xxx/123`"
                                  },
                                  "subDuration": {
                                    "type": "integer",
                                    "description": "Trial duration (in days)"
                                  },
                                  "subLimit": {
                                    "type": "integer",
                                    "description": "Subscription limit (`0` means no limit)"
                                  },
                                  "subCount": {
                                    "type": "integer",
                                    "description": "Current number of subscribers"
                                  },
                                  "finishedFlag": {
                                    "type": "boolean",
                                    "description": "Link completion flag"
                                  },
                                  "source": {
                                    "type": "string",
                                    "description": "Link source"
                                  },
                                  "autoDefaultList": {
                                    "type": "boolean",
                                    "description": "Whether to automatically move subscribed fans to a default list\n- true: yes\n- false: no"
                                  },
                                  "defaultListName": {
                                    "type": "string",
                                    "description": "Default fan list name"
                                  },
                                  "relTagNames": {
                                    "type": "array",
                                    "description": "Related tag names",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "spendClaim": {
                                    "type": "string",
                                    "description": "Percentage of fans who claimed a free trial that purchased subscriptions, spent on content, or gave tips"
                                  },
                                  "payingFansCount": {
                                    "type": "integer",
                                    "description": "Number of fans who purchased subscriptions, spent on content, or gave tips"
                                  },
                                  "earningsGross": {
                                    "type": "integer",
                                    "description": "Gross earnings (in the smallest unit of the currency)"
                                  },
                                  "earningsNet": {
                                    "type": "integer",
                                    "description": "Net earnings (after deducting OnlyFans platform fees, in the smallest unit of the currency)"
                                  },
                                  "aepsGross": {
                                    "type": "number",
                                    "description": "Average gross earnings per subscriber (`EarningsGross` ÷ number of subscribers)"
                                  },
                                  "aepsNet": {
                                    "type": "integer",
                                    "description": "Average net earnings per subscriber (`EarningsNet` ÷ number of subscribers)"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "Currency code"
                                  },
                                  "createdTime": {
                                    "type": "string",
                                    "description": "Link creation time (unix timestamp in milliseconds)"
                                  },
                                  "expiredTime": {
                                    "type": "string",
                                    "description": "Link expiration time (unix timestamp in milliseconds) "
                                  },
                                  "updatedTime": {
                                    "type": "string",
                                    "description": "Infloww last update time (unix timestamp in milliseconds)"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "title": "TrackingLinkModel",
                                "description": "When the platformCode is OnlyFans and the linkType is TRACKING, the following structure will be returned \nTrackingLinkModel",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Unique identifier"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Link name"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "The URL is constructed by concatenating this `code` with the following format:\n\nOF domain + current creator name + **'c'** + `code`\n\nFor example,\ncreator name: xxx, \ncode:123\n\nLink URL: `https://onlyfans.com/xxx/c123`"
                                  },
                                  "clickCount": {
                                    "type": "integer",
                                    "description": "Click count"
                                  },
                                  "subCount": {
                                    "type": "integer",
                                    "description": "Current number of subscribers"
                                  },
                                  "finishedFlag": {
                                    "type": "boolean",
                                    "description": "Link completion flag"
                                  },
                                  "source": {
                                    "type": "string",
                                    "description": "Link source"
                                  },
                                  "autoDefaultList": {
                                    "type": "boolean",
                                    "description": "Whether to automatically move subscribed fans to a default list\n- true: yes\n- false: no"
                                  },
                                  "defaultListName": {
                                    "type": "string",
                                    "description": "Default fan list name"
                                  },
                                  "relTagNames": {
                                    "type": "array",
                                    "description": "Related tag names",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "earningsGross": {
                                    "type": "integer",
                                    "description": "Gross earnings (in the smallest unit of the currency)"
                                  },
                                  "earningsNet": {
                                    "type": "integer",
                                    "description": "Net earnings (after deducting OnlyFans platform fees, in the smallest unit of the currency)"
                                  },
                                  "payingFansCount": {
                                    "type": "integer",
                                    "description": "Number of fans who spent on content or gave tips"
                                  },
                                  "subscriptionCVR": {
                                    "type": "string",
                                    "description": "Subscription conversion rate (percentage of clicks converted to subscribers)"
                                  },
                                  "spendingCVR": {
                                    "type": "string",
                                    "description": "Spending conversion rate: Percentage of fans who spent on content or gave tips"
                                  },
                                  "epcGross": {
                                    "type": "integer",
                                    "description": "Earnings per click (gross, `EarningsGross` ÷ number of clicks)"
                                  },
                                  "epcNet": {
                                    "type": "number",
                                    "description": "Earnings per click (net, after deducting OnlyFans platform fees, `EarningsNet` ÷ number of clicks) "
                                  },
                                  "aepsGross": {
                                    "type": "integer",
                                    "description": "Average gross earnings per subscriber (`EarningsGross` ÷ number of subscribers)"
                                  },
                                  "aepsNet": {
                                    "type": "integer",
                                    "description": "Average net earnings per subscriber (`EarningsNet` ÷ number of subscribers)"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "description": "currency"
                                  },
                                  "createdTime": {
                                    "type": "string",
                                    "description": "Link creation time (unix timestamp in milliseconds)"
                                  },
                                  "expiredTime": {
                                    "type": "string",
                                    "description": "Link expiration time (unix timestamp in milliseconds) "
                                  },
                                  "updatedTime": {
                                    "type": "string",
                                    "description": "Infloww last update time （unix timestamp in milliseconds）"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indicates whether more data is available."
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Pagination cursor for retrieving next page of results"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "list": [
                          {
                            "platformCode": "OF",
                            "linkType": "profile"
                          },
                          {
                            "platformCode": "FANSLY",
                            "linkType": "chat"
                          }
                        ]
                      },
                      "hasMore": true,
                      "cursor": "eyJwYWdlIjoxfQ==",
                      "errorMessage": null
                    }
                  }
                },
                "examples": {
                  "CAMPAIGN Example": {
                    "value": {
                      "data": {
                        "list": [
                          {
                            "id": "1001",
                            "message": "Spring Promotion Campaign",
                            "type": "new",
                            "subCount": 150,
                            "subLimit": 500,
                            "subDuration": 30,
                            "discount": 25,
                            "finishedFlag": false,
                            "earningsGross": 150000,
                            "earningsNet": 135000,
                            "payingFansCount": 120,
                            "currency": "USD",
                            "createdTime": "1772448037492",
                            "expiredTime": "1775040037492",
                            "updatedTime": "1772448037492"
                          }
                        ]
                      },
                      "hasMore": true,
                      "cursor": "1002"
                    }
                  },
                  "TRIAL Example": {
                    "value": {
                      "data": {
                        "list": [
                          {
                            "id": "2001",
                            "name": "7-Day Free Trial Link",
                            "code": "test",
                            "subDuration": 7,
                            "subLimit": 1000,
                            "subCount": 850,
                            "finishedFlag": false,
                            "source": "trial_campaign_2024",
                            "autoDefaultList": true,
                            "defaultListName": "Trial Subscribers",
                            "relTagNames": [
                              "trial_users",
                              "new_subscribers"
                            ],
                            "spendClaim": "0",
                            "payingFansCount": 550,
                            "earningsGross": 2500000,
                            "earningsNet": 2125000,
                            "aepsGross": 294118,
                            "aepsNet": 2500,
                            "currency": "USD",
                            "createdTime": "1772448735447",
                            "expiredTime": "1775040735447",
                            "updatedTime": "1772448735447"
                          }
                        ]
                      },
                      "hasMore": true,
                      "cursor": "2002"
                    }
                  },
                  "TRACKING Example": {
                    "value": {
                      "data": {
                        "list": [
                          {
                            "id": "3001",
                            "name": "Tracking Link - Spring Campaign",
                            "code": "test",
                            "clickCount": 1250,
                            "subCount": 280,
                            "finishedFlag": false,
                            "source": "spring_campaign_2024",
                            "autoDefaultList": true,
                            "defaultListName": "Spring Campaign Subscribers",
                            "relTagNames": [
                              "spring_campaign",
                              "tracking"
                            ],
                            "earningsGross": 420000,
                            "earningsNet": 378000,
                            "payingFansCount": 210,
                            "subscriptionCVR": "0",
                            "spendingCVR": "0",
                            "epcGross": 336,
                            "epcNet": 3024,
                            "aepsGross": 1500,
                            "aepsNet": 1350,
                            "currency": "USD",
                            "createdTime": "1772448835447",
                            "expiredTime": "1775040835447",
                            "updatedTime": "1772448835447"
                          }
                        ]
                      },
                      "hasMore": true,
                      "cursor": "3002"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "servers": [
          {
            "url": "https://openapi.infloww.com/",
            "description": "Infloww API"
          }
        ]
      }
    },
    "/v1/linkfans": {
      "get": {
        "tags": [
          "Creator Scope"
        ],
        "summary": "Fans from tracking links, free trial links and profile promotions",
        "description": "Pull a paginated list of fans that had clicked on the creator's tracking links, free trial links and profile promotions.\n\n> When synchronizing OnlyFans data, there is a delay of up to 4 hours.",
        "operationId": "get-linkfans",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/x-oid"
          },
          {
            "$ref": "#/components/parameters/creatorId"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "linkType",
            "in": "query",
            "description": "We will validate the relationship between `linkType` and `platformCode`",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string",
              "enum": [
                "CAMPAIGN",
                "TRIAL",
                "TRACKING"
              ],
              "format": "enum",
              "default": "TRIAL"
            }
          },
          {
            "name": "linkId",
            "in": "query",
            "description": "Link Id",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "$ref": "#/components/parameters/platformCode"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Unique identifier(Link ID)"
                              },
                              "fanId": {
                                "type": "string",
                                "description": "Fan ID"
                              },
                              "fanName": {
                                "type": "string",
                                "description": "Fan name"
                              },
                              "subscriptionEarningGross": {
                                "type": "integer",
                                "description": "Subscription earnings (gross, in the smallest unit of the currency)"
                              },
                              "subscriptionEarningNet": {
                                "type": "integer",
                                "description": "Subscription earnings after deducting OnlyFans fees (in the smallest unit of the currency)"
                              },
                              "postsEarningGross": {
                                "type": "integer",
                                "description": "Post earnings (gross, in the smallest unit of the currency)"
                              },
                              "postsEarningNet": {
                                "type": "integer",
                                "description": "Post earnings after deducting OnlyFans fees (in the smallest unit of the currency)"
                              },
                              "messagesEarningGross": {
                                "type": "integer",
                                "description": "Message earnings (gross, in the smallest unit of the currency) "
                              },
                              "messagesEarningNet": {
                                "type": "integer",
                                "description": "Message earnings after deducting OnlyFans fees (in the smallest unit of the currency) "
                              },
                              "streamsEarningGross": {
                                "type": "integer",
                                "description": "Stream earnings (gross, in the smallest unit of the currency)"
                              },
                              "streamsEarningNet": {
                                "type": "integer",
                                "description": "Stream earnings after deducting OnlyFans fees (in the smallest unit of the currency)"
                              },
                              "tipsEarningGross": {
                                "type": "integer",
                                "description": "Tip earnings (gross, in the smallest unit of the currency)"
                              },
                              "tipsEarningNet": {
                                "type": "integer",
                                "description": "Tip earnings after deducting OnlyFans fees (in the smallest unit of the currency)"
                              },
                              "currency": {
                                "type": "string",
                                "description": "Currency code"
                              },
                              "subscribedTime": {
                                "type": "string",
                                "description": "Subscription time (unix timestamp in milliseconds)"
                              }
                            }
                          }
                        },
                        "linkType": {
                          "type": "string",
                          "description": "Link type"
                        },
                        "platformCode": {
                          "type": "string",
                          "description": "Platform code"
                        }
                      }
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indicates whether more data is available."
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Indicates whether more data is available.",
                      "format": "number"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "list": [
                          {
                            "id": 30001,
                            "fanId": "fan_456789",
                            "fanName": "Alice",
                            "subscriptionEarningGross": 100,
                            "subscriptionEarningNet": 80,
                            "postsEarningGross": 50,
                            "postsEarningNet": 40,
                            "messagesEarningGross": 30,
                            "messagesEarningNet": 24,
                            "streamsEarningGross": 20,
                            "streamsEarningNet": 16,
                            "tipsEarningGross": 70,
                            "tipsEarningNet": 56,
                            "currency": "USD",
                            "subscribedTime": "2026-02-01T12:00:00Z"
                          },
                          {
                            "id": 30002,
                            "fanId": "fan_987654",
                            "fanName": "Bob",
                            "subscriptionEarningGross": 60,
                            "subscriptionEarningNet": 48,
                            "postsEarningGross": 25,
                            "postsEarningNet": 20,
                            "messagesEarningGross": 15,
                            "messagesEarningNet": 12,
                            "streamsEarningGross": 10,
                            "streamsEarningNet": 8,
                            "tipsEarningGross": 40,
                            "tipsEarningNet": 32,
                            "currency": "USD",
                            "subscribedTime": "2026-02-10T09:30:00Z"
                          }
                        ]
                      },
                      "hasMore": true,
                      "cursor": "eyJpZCI6MzAwMDJ9",
                      "errorMessage": null
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "data": {
                        "list": [
                          {
                            "id": "001",
                            "fanId": "001",
                            "fanName": "test",
                            "subscriptionEarningGross": 0,
                            "subscriptionEarningNet": 0,
                            "postsEarningGross": 0,
                            "postsEarningNet": 0,
                            "messagesEarningGross": 0,
                            "messagesEarningNet": 0,
                            "streamsEarningGross": 0,
                            "streamsEarningNet": 0,
                            "tipsEarningGross": 0,
                            "tipsEarningNet": 0,
                            "currency": "USD",
                            "subscribedTime": "1772448835447"
                          }
                        ]
                      },
                      "hasMore": true,
                      "cursor": "002"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "servers": [
          {
            "url": "https://openapi.infloww.com/",
            "description": "Infloww API"
          }
        ]
      }
    },
    "/v1/automated-messages": {
      "get": {
        "tags": [
          "Creator Scope"
        ],
        "summary": "Automated messages",
        "description": "Pull a paginated list of automated messages sent. Includes rules and conditions set, message contents, and performance metrics, with filters for creator, employee, and date range.",
        "operationId": "get-automated-messages",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/x-oid"
          },
          {
            "$ref": "#/components/parameters/platformCode"
          },
          {
            "$ref": "#/components/parameters/creatorId"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "The end time for record list. We accept **unix timestamp in milliseconds** and **ISO 8601 date-time in UTC**",
            "schema": {
              "type": "string",
              "examples": [
                "\"1706745599000\" | \"2024-01-31T23:59:59Z\" | \"2024-01-31T23:59:59.999Z\""
              ]
            }
          },
          {
            "$ref": "#/components/parameters/employeeIds"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Returned upon success, corresponding to the specific business data structure.",
                      "properties": {
                        "platformCode": {
                          "type": "string",
                          "description": "Platform code"
                        },
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "automatedMessageId": {
                                "type": "integer",
                                "description": "Unique identifier for the automated message"
                              },
                              "employeeId": {
                                "type": "integer",
                                "description": "Employee ID who configured the message"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "Scheduled",
                                  "Active",
                                  "Completed",
                                  "Canceled"
                                ],
                                "description": "Message status",
                                "format": "enum"
                              },
                              "includeListNames": {
                                "type": "array",
                                "description": "Fan list names to include",
                                "minItems": 1,
                                "maxItems": 50,
                                "items": {
                                  "type": "string"
                                }
                              },
                              "excludeListNames": {
                                "type": "array",
                                "description": "Fan list names to exclude",
                                "maxItems": 50,
                                "items": {
                                  "type": "string"
                                }
                              },
                              "totalSpendMin": {
                                "type": "number",
                                "description": "Minimum total spend filter (in the smallest unit of the currency)"
                              },
                              "totalSpendMax": {
                                "type": "number",
                                "description": "Maximum total spend filter (in the smallest unit of the currency)"
                              },
                              "tipsGreaterThan": {
                                "type": "number",
                                "description": "Minimum tips amount filter (in the smallest unit of the currency)"
                              },
                              "subscribeDurationGreaterThan": {
                                "type": "number",
                                "description": "Minimum subscription duration filter (in months)"
                              },
                              "excludeCreators": {
                                "type": "boolean",
                                "description": "Whether to exclude creators from the target audience"
                              },
                              "messageCdHours": {
                                "type": "number",
                                "description": "Cooldown period between messages (in hours)"
                              },
                              "excludeFansWUnreadMessages": {
                                "type": "boolean",
                                "description": "Whether to exclude fans with unread messages"
                              },
                              "excludeFansWViewSameMedia": {
                                "type": "boolean",
                                "description": "Whether to exclude fans who viewed the same media"
                              },
                              "onlyOnlineFans": {
                                "type": "boolean",
                                "description": "Whether to target only online fans"
                              },
                              "trigger": {
                                "type": "number",
                                "description": "Message trigger type. Possible values:\n- `1` — Nudge (messages fans when they comes online)\n- `2` — Subscriber welcome (greet fan when they subscribe)\n- `3` — Purchases (follow up with fans who purchased a PPV)\n- `5` — Expiring soon (messages fans when their subscription is about to expire)\n- `6` — Expired (messages fans whose subscription has expired)\n- `7` — Resubscribe (greet fans when they resubscribe)\n- `8` — Birthday greeting (wish fans happy birthday)"
                              },
                              "triggerFrequency": {
                                "type": "number",
                                "description": "Trigger evaluation frequency.\n- `1` — Once\n- `2` — Every time"
                              },
                              "collections": {
                                "type": "array",
                                "description": "Message collections with scripts and performance metrics",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "collectionNo": {
                                      "type": "number",
                                      "description": "Collection sequence number"
                                    },
                                    "messages": {
                                      "type": "array",
                                      "description": "Script messages in this collection",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "messageContent": {
                                            "type": "string",
                                            "description": "Message script content"
                                          },
                                          "price": {
                                            "type": "number",
                                            "description": "Message price (in the smallest unit of the currency)"
                                          }
                                        }
                                      }
                                    },
                                    "price": {
                                      "type": "number",
                                      "description": "Total price of all messages in this collection (in the smallest unit of the currency)"
                                    },
                                    "numberOfTimesSent": {
                                      "type": "number",
                                      "description": "Number of times this collection was sent"
                                    },
                                    "numberOfPurchases": {
                                      "type": "number",
                                      "description": "Number of purchases generated by this collection"
                                    },
                                    "revenue": {
                                      "type": "number",
                                      "description": "Revenue generated by this collection (in the smallest unit of the currency)"
                                    }
                                  }
                                }
                              },
                              "price": {
                                "type": "number",
                                "description": "Total price of all messages across all collections (in the smallest unit of the currency)"
                              },
                              "canceledByEmployeeId": {
                                "type": "number",
                                "description": "ID of the employee who canceled the message"
                              },
                              "totalNumberOfTimeSent": {
                                "type": "number",
                                "description": "Total number of times the message was sent"
                              },
                              "totalNumberOfPurchases": {
                                "type": "number",
                                "description": "Total number of purchases generated"
                              },
                              "totalRevenue": {
                                "type": "number",
                                "description": "Total revenue generated (in the smallest unit of the currency)"
                              },
                              "sentTime": {
                                "type": "string",
                                "description": "Time when the message was sent (unix timestamp in milliseconds)"
                              },
                              "endTime": {
                                "type": "string",
                                "description": "Time when the message campaign ended (unix timestamp in milliseconds)"
                              },
                              "createdTime": {
                                "type": "string",
                                "description": "Creation time (unix timestamp in milliseconds)"
                              },
                              "modifiedTime": {
                                "type": "string",
                                "description": "Last modification time (unix timestamp in milliseconds)"
                              }
                            }
                          }
                        }
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "description": "Pagination cursor for retrieving next page of results"
                    },
                    "hasMore": {
                      "type": "boolean",
                      "description": "Indicates whether more data is available."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "platformCode": "OnlyFans",
                        "list": [
                          {
                            "automatedMessageId": 60001,
                            "employeeId": 10001,
                            "status": 1,
                            "totalNumberOfTimeSent": 150,
                            "totalNumberOfPurchases": 45,
                            "totalRevenue": 125000,
                            "sentTime": "2026-02-27T15:30:00Z",
                            "createdTime": "2026-02-27T14:00:00Z"
                          }
                        ]
                      },
                      "cursor": "60001",
                      "hasMore": true,
                      "errorMessage": null
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "data": {
                        "platformCode": "OnlyFans",
                        "list": [
                          {
                            "automatedMessageId": 60001,
                            "employeeId": 10001,
                            "status": "Scheduled",
                            "includeListNames": [
                              "VIP Fans",
                              "Active Subscribers"
                            ],
                            "excludeListNames": [
                              "Do Not Disturb"
                            ],
                            "totalSpendMin": 1000,
                            "totalSpendMax": 50000,
                            "tipsGreaterThan": 500,
                            "subscribeDurationGreaterThan": 30,
                            "excludeCreators": false,
                            "messageCdHours": 24,
                            "excludeFansWUnreadMessages": true,
                            "excludeFansWViewSameMedia": false,
                            "onlyOnlineFans": true,
                            "trigger": 1,
                            "triggerFrequency": 2,
                            "collections": [
                              {
                                "collectionNo": 1,
                                "message": [
                                  {
                                    "messageContent": "Hey there! Check out my latest content.",
                                    "price": 500,
                                    "numberOfTimesSent": 75,
                                    "numberOfPurchases": 25,
                                    "revenue": 12500
                                  },
                                  {
                                    "messageContent": "Special offer just for you!",
                                    "price": 1000,
                                    "numberOfTimesSent": 75,
                                    "numberOfPurchases": 20,
                                    "revenue": 20000
                                  }
                                ],
                                "numberOfTimesSent": 150,
                                "numberOfPurchases": 45,
                                "revenue": 32500
                              }
                            ],
                            "canceledByEmployeeId": 123,
                            "totalNumberOfTimeSent": 150,
                            "totalNumberOfPurchases": 45,
                            "totalRevenue": 32500,
                            "sentTime": "1772449837492",
                            "endTime": "1775041837492",
                            "createdTime": "1772448037492",
                            "modifiedTime": "1772449837492"
                          }
                        ]
                      },
                      "cursor": "60001",
                      "hasMore": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "servers": [
          {
            "url": "https://openapi.infloww.com/",
            "description": "Infloww API"
          }
        ]
      }
    },
    "/v1/priority-mass-messages": {
      "get": {
        "tags": [
          "Creator Scope"
        ],
        "summary": "Priority mass messages",
        "description": "Pull a paginated list of priority mass messages sent. Includes rules and conditions set, message contents, and performance metrics, with filters for creator, employee, and date range.",
        "operationId": "get-priority-mass-messages",
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/x-oid"
          },
          {
            "$ref": "#/components/parameters/platformCode"
          },
          {
            "$ref": "#/components/parameters/creatorId"
          },
          {
            "$ref": "#/components/parameters/startTime"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "The end time for record list. We accept **unix timestamp in milliseconds** and **ISO 8601 date-time in UTC**",
            "schema": {
              "type": "string",
              "examples": [
                "\"1706745599000\" | \"2024-01-31T23:59:59Z\" | \"2024-01-31T23:59:59.999Z\""
              ]
            }
          },
          {
            "$ref": "#/components/parameters/employeeIds"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Returned upon success, corresponding to the specific business data structure.",
                      "properties": {
                        "platformCode": {
                          "type": "string",
                          "description": "Platform code"
                        },
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "priorityMassMessageId": {
                                "type": "number",
                                "description": "Unique identifier for the priority mass message"
                              },
                              "employeeId": {
                                "type": "number",
                                "description": "Employee ID who configured the message"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "Scheduled",
                                  "Active",
                                  "Completed",
                                  "Canceled"
                                ],
                                "description": "Message status",
                                "format": "enum"
                              },
                              "includeListNames": {
                                "type": "array",
                                "description": "Fan list names to include",
                                "minItems": 1,
                                "maxItems": 50,
                                "items": {
                                  "type": "string"
                                }
                              },
                              "excludeListNames": {
                                "type": "array",
                                "description": "Fan list names to exclude",
                                "maxItems": 50,
                                "items": {
                                  "type": "string"
                                }
                              },
                              "totalSpendMin": {
                                "type": "number",
                                "description": "Minimum total spend filter (in the smallest unit of the currency)"
                              },
                              "totalSpendMax": {
                                "type": "number",
                                "description": "Maximum total spend filter (in the smallest unit of the currency)"
                              },
                              "tipsGreaterThan": {
                                "type": "number",
                                "description": "Minimum tips amount filter (in the smallest unit of the currency)"
                              },
                              "subscribeDurationGreaterThan": {
                                "type": "number",
                                "description": "Minimum subscription duration filter (in months)"
                              },
                              "excludeCreators": {
                                "type": "boolean",
                                "description": "Whether to exclude creators from the target audience"
                              },
                              "messageCdHours": {
                                "type": "number",
                                "description": "Cooldown period between messages (in hours)"
                              },
                              "excludeFansWUnreadMessages": {
                                "type": "boolean",
                                "description": "Whether to exclude fans with unread messages"
                              },
                              "excludeFansWViewSameMedia": {
                                "type": "boolean",
                                "description": "Whether to exclude fans who viewed the same media"
                              },
                              "onlyOnlineFans": {
                                "type": "boolean",
                                "description": "Whether to target only online fans"
                              },
                              "collection": {
                                "type": "object",
                                "description": "Message collection with scripts and performance metrics",
                                "properties": {
                                  "collectionNo": {
                                    "type": "number",
                                    "description": "Collection sequence number"
                                  },
                                  "messages": {
                                    "type": "array",
                                    "description": "Script messages in this collection",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "messageContent": {
                                          "type": "string",
                                          "description": "Message script content"
                                        },
                                        "price": {
                                          "type": "number",
                                          "description": "Message price (in the smallest unit of the currency)"
                                        }
                                      }
                                    }
                                  },
                                  "price": {
                                    "type": "number",
                                    "description": "Total price of all messages in this collection (in the smallest unit of the currency) "
                                  },
                                  "numberOfTimesSent": {
[...]
